---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentImageBlock from '../components/ContentImageBlock.astro';
import Banner from '../components/Banner.astro';

/* ========================== */
/*           IMAGES           */
/* ========================== */
import bgContacto from '../assets/images/bg/bg-contacto.webp';
import contactMain from '../assets/images/contact-main.webp';
import Contact from '../assets/images/contacto.webp';
import { Image } from 'astro:assets';
---

<BaseLayout>
	<!-- ========================== -->
	<!--           Banner           -->
	<!-- ========================== -->
	<section>
		<Banner
			bannerSrc={bgContacto}
			bannerAlt=""
			bannerPage="Contacto"
			bannerTitle="Contacto"
		/>
	</section>
	<!-- =========================== -->
	<!--           Content           -->
	<!-- =========================== -->
	<section>
		<div class="flex flex-col items-center gap-8 md:flex-row">
			<figure class="h-[300px] w-full shadow-lg md:h-[400px] md:w-1/2">
				<Image
					src={contactMain}
					alt=""
					width={1600}
					height={900}
					class="h-full w-full rounded object-cover"
					format="webp"
				/>
			</figure>
			<div class="flex w-full flex-col gap-[1rem] text-center md:w-1/2">
				<h2 class="title">¡Me encantaría saber de ti!</h2>
				<p class="sub-title">Puedes contactarme a través:</p>
				<ul class="main flex flex-col gap-2">
					<dt class="font-bold">Mi correo electrónico:</dt>
					<dd>info@nutribienestar.com</dd>
					<dt class="font-bold">Número de teléfono:</dt>
					<dd>123-456-7890</dd>
				</ul>
				<p class="main">
					Estoy aquí para ayudarte en tu camino hacia una vida más saludable.
				</p>
			</div>
		</div>
		<br />
		<div class="flex flex-col items-center gap-8 md:flex-row-reverse">
			<figure class="h-[300px] w-full shadow-lg md:h-[400px] md:w-1/2">
				<Image
					src={Contact}
					alt=""
					width={1600}
					height={900}
					class="h-full w-full rounded object-cover"
					format="webp"
				/>
			</figure>
			<div class="flex w-full flex-col gap-[1rem] text-center md:w-1/2">
				<h2 class="title">¿Tienes dudas o preguntas?</h2>
				<p class="main">
					Además, si tienes preguntas sobre mis servicios, deseas más
					información sobre talleres o simplemente quieres charlar sobre cómo
					mejorar tus hábitos alimenticios, no dudes en escribirme.
				</p>
				<p class="main">
					Tu bienestar es mi prioridad, y juntos podemos crear un plan
					personalizado que se adapte a tus necesidades y objetivos. ¡Espero
					saber de ti pronto!
				</p>
			</div>
		</div>
	</section>
</BaseLayout>
