---
const { announcementLink, announcementMessage } = Astro.props;
---

<div id="announcement-bar" class="">
	<a
		class="bg-bars flex items-center justify-center rounded px-[1rem] py-[0.5rem] text-center"
		href={announcementLink}
		aria-label={announcementMessage}
	>
		<p class="main">{announcementMessage}</p>
	</a>
</div>
