---
import CustomNeutralButton from './CustomNeutralButton.astro';
const { eventTitle, eventText } = Astro.props;
---

<div
	class="bg-accent flex h-full flex-col gap-[1rem] rounded p-[2rem] text-center"
>
	<h1 class="title text-neutral-800">{eventTitle}</h1>
	<p class="main">{eventText}</p>
	<button
		class="bg-brandPrimary focus:ring-brandPrimary mx-auto flex cursor-pointer gap-[0.5rem] rounded px-[1rem] py-[0.5rem] text-white shadow-lg transition-transform duration-200 hover:bg-neutral-600 focus:ring focus:outline-none active:scale-95"
		aria-label="Descargar archivo"
	>
		<span>Descarga</span>
		<img
			src="/icons/material-symbols-light--download-sharp-white.svg"
			class="h-[24px] w-[24px]"
			alt='Ãcono de descarga"'
		/>
	</button>
</div>
