<footer
	class="bg-bars flex h-full w-full flex-col items-center gap-[0.5rem] rounded p-[1rem] text-center"
>
	{/* Logo/Nombre */}
	<a
		class="text-lg font-bold text-neutral-800"
		href="/"
		aria-label="Ir a la página de inicio"
	>
		NutriBienestar
	</a>

	{/* Redes Sociales */}
	<nav aria-label="Redes sociales" class="flex items-center gap-[1rem]">
		<a
			href="https://facebook.com"
			target="_blank"
			rel="noopener noreferrer"
			aria-label="Visita nuestro Facebook"
		>
			<img
				src="/icons/Facebook_Logo_Primary.svg"
				class="h-[32px] w-[32px]"
				alt="Facebook"
			/>
		</a>
		<a
			href="https://instagram.com"
			target="_blank"
			rel="noopener noreferrer"
			aria-label="Visita nuestro Instagram"
		>
			<img
				src="/icons/Instagram_Glyph_Gradient.svg"
				class="h-[24px] w-[24px]"
				alt="Instagram"
			/>
		</a>
	</nav>

	{/* Texto Legal */}
	<p class="legal-text text-center">
		© 2024 NutriBienestar S.A. de C.V. | Todos los derechos reservados.
	</p>

	{/* Separador */}
	<hr class="h-[4px] w-full bg-neutral-500" />

	{/* Autoría */}
	<div class="flex items-center gap-[0.25rem]">
		<p>Hecho por</p>
		<a
			href="https://craftedbycamo.com"
			target="_blank"
			rel="noopener noreferrer"
			class="font-bold text-neutral-800"
			aria-label="Visitar el sitio web de craftedbycamo"
		>
			craftedbycamo
		</a>
	</div>
</footer>
