---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import AnnouncementBar from '../components/AnnouncementBar.astro';
import NavBar from '../components/NavBar.astro';
import BaseHead from '../components/BaseHead.astro';

export let title = 'NutriBienestar'; // Valor por defecto si no se define
---

<!doctype html>
<html lang="es-MX" class="mx-auto max-w-[98%] md:max-w-[95%] lg:max-w-[80%]">
	<head>
		<BaseHead title="Mi página web" description="Descripción de la página" />
	</head>
	<body class="flex flex-col gap-[1rem]">
		<header class="mt-[0.5rem] flex flex-col gap-[0.5rem]">
			<AnnouncementBar
				announcementLink="#"
				announcementMessage="¡Inscríbete en nuestro Taller de Nutrición para el próximo mes!"
			/>
			<NavBar />
		</header>
		<main class="flex flex-col gap-[2rem]" role="main">
			<slot />
		</main>
		<footer class="mb-[1rem]">
			<Footer />
		</footer>
	</body>
</html>
